<div id="main_panel">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i, infoWindow)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window #infoWindow>
            <div class="marker-info-window-content">
              <form (ngSubmit)="onSubmit()" #parkingLotForm="ngForm">
                <strong>Location: {{m.lotData.name}}</strong><br>
                <small>Free Spots: {{m.lotData.free_count}}</small>
                <br>
                <div style="display: flex;">
                    <input type="email" class="form-control" name="email" id="email" #email="ngModel" placeholder="youremail@email.com" [(ngModel)]="emailText" required email>
                    <button type="submit" (click)="bookLot(m.lotData);parkingLotForm.reset()" class="btn btn-success btnFix" [disabled]="!parkingLotForm.form.valid"><fa name="angle-right"></fa></button>
                </div>
              </form>
              <div *ngIf="thumbImgUrl != undefined && thumbImgUrl.length > 0" style="margin-top: .7em;">
                <small> Advertisement:</small>
                <img src="{{thumbImgUrl}}" width="100%" alt="{{thumbAdTitle}}">
              </div>
            </div>
        </agm-info-window>

      </agm-marker>
    </agm-marker-cluster>
  </agm-map>
  <div class="bottom-banner-content">
    <img *ngIf="bannerAdType == 'link'" src="{{bannerAdUrl}}">
  </div>
</div>